.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.content-area {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.main-area {
    width: 58%;
    float: left;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sidebar {
    float: left;
    width: 42%;
}

.fix {
    clear: both;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}
html {
    background-color: #869960;
}

h1 {
    color: #869960;
    padding-top: 2%;
}

.y{
    margin-top: 20%;
}
h1{
    color: #869960;
    text-align: center;
}
.h{
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 2%;
}
.lbj{
    margin-left: 2%;
    margin-top: 2%;
}
.yy{
    margin-top: 5%;
    text-align: center;
}
footer{
    text-align: center;
    font-size: small;
    padding-bottom: 2%;
}